.viewindex {
  background: #000000;
  background: -webkit-linear-gradient(top left, #000000, #5c615b);
  background: -moz-linear-gradient(top left, #000000, #5c615b);
  background: linear-gradient(to bottom right, #000000, #5c615b);
}

h1 {
  color: white;
}

p {
  color: white;
}

.view-index-buy:hover {
  transform: scale(1.05);
  cursor: pointer;
}
