.navigationBody ul li {
  color: white;
  font-weight: bold;
  padding: 10px;
}

.navigationBody ul li:hover {
  background-color: #00cc9b;
  cursor: pointer;
}

.navigationBody ul li {
  z-index: 1000;
  position: relative;
}

.hamburger {
  font-size: 40px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.05);
  cursor: pointer;
}
